<div class="container">
    <div class="main-content" id="home">
        <div class="left-column">
            <div class="title">
                PET <br> EXPO
            </div>
            <div class="subtitle">
                Discover, Learn, and Celebrate All Things Pets at the Ultimate Pet Expo!
            </div>
            <img class="main-img" src="/assets/main-bg.png" alt="dog and cat">
        </div>
        <div class="right-column">
            <div class="right-column-item item1">
                <div class="section-title">CATS</div>
                <button routerLink="/pet-list" [queryParams]="{search_by: 'cats'}" mat-button>See more</button>
                <img src="/assets/cat.png" alt="cat">
            </div>
            <div class="right-column-item item2">
                <div class="section-title">DOGS</div>
                <button routerLink="/pet-list" [queryParams]="{search_by: 'dogs'}" mat-button>See more</button>
                <img src="/assets/dog.png" alt="dog">
            </div>
            <div class="right-column-item item3">
                <div class="section-title">BIRDS</div>
                <button routerLink="/pet-list" [queryParams]="{search_by: 'birds'}" mat-button>See more</button>
                <img src="/assets/bird.png" alt="bird">
            </div>
        </div>
    </div>

    <div id="about-us" class="about-us">

        <div class="title">
            ABOUT <br> US
        </div>

        <div class="about-us-text">
            <p>Welcome to PetExpo Connect, your ultimate companion for everything pets! Our app is designed
                to enhance your experience at pet expos, making it easier, more enjoyable,
                and more informative than ever before.
                Whether you're a passionate pet owner, an industry professional, or just an animal lover,
                PetExpo Connect is here to ensure you get the most out of every event.</p>

            <h3>Who We Are:</h3>
            <p> PetExpo Connect is developed by a team of pet enthusiasts and technology
                experts who understand the unique needs and interests of the pet community.
                Our mission is to create a seamless, interactive, and engaging platform that brings together pet owners,
                exhibitors, vendors, and industry professionals in one place.</p>

            <h3>Exhibitor Information:</h3>
            <p>Access detailed profiles of all exhibitors, including products, services, and special offers.
                Bookmark your favorite booths and set reminders for must-see demos and presentations</p>

            <h3>Interactive Features:</h3>
            <p>Participate in live polls, Q&A sessions, and interactive workshops.
                Share your feedback and engage with presenters in real-time.</p>

            <h3>Our Vision:</h3>
            <p>At PetExpo Connect, we believe in the power of community and the joy that pets bring into our lives.
                Our goal is to foster a vibrant and supportive environment where pet lovers can connect, learn, and
                share their
                passion.
                We are committed to continuously improving our app to meet the evolving needs of our users and the pet
                industry.</p>

            <p>Thank you for choosing PetExpo Connect.
                We look forward to seeing you at the next expo and helping you make the most of every moment!</p>
        </div>

    </div>

    <div id="contact-us" class="contact-us">


        <div class="title">
            CONTACT <br> US
        </div>
        <div class="contact-us-text">
            <h3>Contact Us</h3>

            <p>Have questions, feedback, or suggestions? We'd love to hear from you! Reach out to us through any of the
                following channels:</p>

            <p> Email: info&#64;petexpoapp.com</p>

            <p>Phone: +1 (555) 123-4567</p>

            <p>Address: 123 Expo Drive, Cityville, State, Zip Code</p>

            <p>You can also connect with us on social media:</p>

            <p>Facebook: facebook.com/PetExpoApp/contact</p>
            <p>Twitter: twitter.com/PetExpoApp/contact</p>
            <p>Instagram: instagram.com/PetExpoApp/contact</p>
            <p>Our team is dedicated to providing the best experience possible for you and your furry friends. Don't
                hesitate to get in touch!</p>

        </div>

    </div>
</div>

