<router-outlet (activate)="onActivate()"></router-outlet>
<mat-toolbar class="toolbar">
    <span>Pet Expo</span>
    <span class="spacer"></span>
    <div class="button-container">
        <button routerLink="home" fragment="home" mat-button>Home</button>
        <div class="vertical-line"></div>
        <button routerLink="home" fragment="about-us" mat-button>About us</button>
        <div class="vertical-line"></div>
        <button routerLink="home" fragment="contact-us" mat-button>Contact us</button>
        <div class="vertical-line"></div>
        <button mat-button routerLink="pet-list">Search</button>
    </div>

</mat-toolbar>
